*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    width: 600px;
    background-color: ;
    height: 350px;
    border-radius: 10px;
    
}

.result {
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: hsl(252, 100%, 67%);
    margin-top: 70px;
    text-align: center;
    color: white;
    flex: 1;

}

.result h3 {
    margin: auto;
}
